* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

a{
  color: green;
  text-decoration: unset;
}

ul {
  margin-left: 1.5rem;
  list-style: none;
}

button, input[type='submit'] {
  border: none;
  background:none;
  color: unset;
  cursor:pointer;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 1rem 0;
}

/* header */
#header{
  background-color: brown;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

#header .title {
  color: white;
  margin:0;
}

#header .auth-options {
  display:flex;
  height: 100%;
}

#header .auth-options button{
  background-color: darkslateblue;
  padding: 0 1rem;
  color: white;
  font-size: 1.1rem;

}

#header .auth-options button:hover{
  background-color: slateblue;
}

.form label,
.form input {
  display:block;
}

.form input{
  margin:.5rem;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"]{
  width:100%;
  padding:.3rem;
  border: 1px solid rgb(185, 184, 184);
  border-radius: 5px;
  background-color:rgba(185, 184, 184, .2); 

}

.form input:focus{
  border: 1px solid rgb(0, 0, 255);
  box-shadow: inset 0 0 10px rgba(0, 0, 255, .5);
  outline: none;
}

.form input[type="submit"]{
  border: 1px solid rgb(47, 133, 47);
  background-color:rgb(70, 214, 70);
  padding: .3rem;
}

/* error notice */

.error-notice {
  border: 1px solid red;
  background-color: rgb(252, 235, 235);
  margin:.3rem;
  padding: .3rem;
  display:flex;
  justify-content: space-between;
  
}

.error-notice button{
  width:20px;
  height:20px;
  background-color: tomato;
  color: white;
}



@media screen and (max-width: 550px){
  #header .title {
    font-size: 1.2rem;
  }
  #header .auth-options button{
    font-size: .9rem;
    padding: .5rem;
  }
}